body {
  background-color: #f2f4fa;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}


/* ========================== Signup/Login */

#user_form input.form-control {
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
  margin-bottom: 20px;
}

.contain {
  object-fit: contain;
}

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {


  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #828283;
    -moz-box-shadow: 0 8px 6px -6px #828283;
    box-shadow: 0 8px 6px -6px #828283;
}


/*********************  Background and Home Anon   *************************/

.home-hero {
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: -1;
  background: url('/static/images/alexander-mils-ocku3zjNM7k-unsplash.jpg') no-repeat center center/cover;
  filter: blur(0px);
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

