{% extends 'base.html' %}

{% block title %}Filter Alcohol{% endblock %}

{% block content %}

<main>

  <section class="py-5 text-center container mt-5">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search by Alcohol / Non Alcohol</h1>
        <p class="lead text-muted">“Drink today, and drown all sorrow; you shall perhaps not do it tomorrow; best, while you have it, use your breath; there is no drinking after death.” — Ben Jonson</p>

        <form class="d-flex" action="/filter_alcohol">
          <select class="form-select" aria-label="Default select example" name="filter_alcohol">
              <option selected>Select from category</option>
              <option value="Alcoholic">Alcoholic</option>
              <option value="Non Alcoholic">Non Alcoholic</option>
          </select>
          <span class="input-group-btn mx-2">
          <button class="btn btn-outline-success" type="submit">Search</button>
          </span>
        </form>
      </div>
    </div>
  </section>



</main>
 
{% endblock %}
