{% extends 'base.html' %}
{% block title %}Drinks{% endblock %}

{% block content %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search Cocktails</h1>
        <p class="lead text-muted">"Alcohol may be man's worst enemy, but the Bible says love your enemy." - Frank Sinatra.</p>

      <form class="d-flex" action="/index">
        <input class="form-control me-2" type="text" name="name" style="text-transform: capitalize;" placeholder="Search By Name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>
    </div>
  </section>

</main>


{% endblock %}
  


















  


















