{% extends 'base.html' %}

{% block title %}Ingredients{% endblock %}

{% block content %}

<main>

  <section class="py-5 text-center container">

    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search by Ingredient</h1>
        <p class="lead text-muted">"Alcohol is not my vodkabulary. However, I looked it up on whiskeypedia and learned if you drink to much of it, it's likely tequilya!"</p>

        <form class="d-flex" action="/ingredient">
          <input class="form-control me-2" type="text" name="ingredient" placeholder="Eg. Gin or Tequila or Vodka" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>

    <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Ingredients
    </button>
    <div class="collapse" id="collapseExample">
    </p>

      <div class="card card-body">
        {% for ing in ingredients %}
        <ul>{{ing.strIngredient1}}</ul>
        {% endfor %}
 
        <!-- Add a loop here that will iterate over a list of ingredients from the app.py file -->
        <!-- Or loop and append using JS -->
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
    </div>

  </section>

</main>


{% endblock %}

