{% extends 'base.html' %}

{% block title %}Ingredients{% endblock %}

{% block content %}

<main>

  <section class="py-5 text-center container">

    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search by Ingredient</h1>
        <p class="lead text-muted">"Alcohol is not my vodkabulary. However, I looked it up on whiskeypedia and learned if you drink to much of it, it's likely tequilya!"</p>

        <form class="d-flex" action="/ingredient">
          <input class="form-control me-2" type="text" name="ingredient" placeholder="Eg. Gin or Tequila or Vodka" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>

  </section>

</main>


{% endblock %}

