{% extends 'base.html' %}
{% block title %}Drinks Home{% endblock %}

{% block content %}

<main>
  <section class="py-5 text-center container mt-5">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Random Cocktails</h1>
        <p class="lead text-muted">"Electricity is actually made up of extremely tiny particles called electrons, that you cannot see with the naked eye unless you have been drinking.” — Dave Barry.</p>
      <form class="d-flex" action="/index">
        <input class="form-control me-2" type="text" name="name" required style="text-transform: capitalize;" placeholder="Search By Name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>
    </div>
  </section>

</main>
{% endblock %}
  



 


