<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bartender</title>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>


<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top py-3" id="custom-nav">
    <div class="container-fluid mx-5">
      <a class="navbar-brand" href="/"><i class="fas fa-cocktail"></i>Drinks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link" href="/category">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/filter_alcohol">Alcohol/Non Alcohol</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ingredient">Ingredients</a>
          </li>
        </ul>
        <form class="d-flex">
            {% if not g.user %}
            <li><a href="/login" class="text-white">Login</a></li>
            <li><a href="/signup" class="text-white">Signup</a></li>
            {% else %}
            
            <li><a href="/users/favorite" class="text-white"><i class="fas fa-user-alt fa-lg"></i></a></li>
            <li><a href="/logout" class="text-white">Logout</a></li>
            {% endif %}
        </form>
      </div>
    </div>
  </nav>
</header>


  


<div class="container text-center">
  
  {% block content %}
  
  {% endblock %}
  <div class="row">
      <!-- <div class="container text-center col-md-4 col-md-offset-4"> -->
      <div class="container text-center  w-25">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
      </div>
  </div>
  

  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if cocktails %}
        
        {% for cocktail in cocktails %}
        <div class="col">
          <div class="card shadow-lg">
            <img class="contain rounded-top" src="{{ cocktail.thumb }}" alt="">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <p class="text-center">{{ cocktail.name }}</p>
                <div class="btn-group">
                  <a href="/drink_details?drink_id={{cocktail.id}}">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                  {% if g.user %}
                  {% if show_delete %}
                  <span class="input-group-btn mx-1">
                  <a href="/users/delete/{{cocktail.id}}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                  </a>
                  </span>
                  {% else %}
                  <span class="input-group-btn mx-1">
                  <a href="/users/favorite/{{cocktail.id}}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Save it</button>
                  </a>
                  </span>
                  {% endif %}
                  {% else %}
                  <span class="input-group-btn mx-1">
                  <a href="/signup">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Save it</button>
                  </a>
                  </span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>



<footer class="text-muted py-5 mt-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-3">Don't know what to pick, Not worries, we can pick a <a href="/random_cocktails" name="random_cocktails">random selection</a> fo you.</p>

    <p class="mb-0">Or you can go to the top and search by the name, You don't remember the name! Not worries.</p>
    <p class="mb-0">Click <a href="/letter">here</a>  and seach by the first letter.</p>
  </div>
</footer>
                  


<script src="/static/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>

</body>

</html>










    