{% extends 'base.html' %}
{% block title %}Category{% endblock %}

{% block content %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search Cocktails by Category</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>

        <form class="d-flex" action="/category">
          <select class="form-select" aria-label="Default select example" name="category">
              <option selected>Select from category</option>
              <option value="Ordinary Drink">Ordinary Drink</option>
              <option value="Cocktail">Cocktail</option>
              <option value="Milk / Float / Shake">Milk / Float / Shake</option>
              <option value="Other / Unknow">Other / Unknow</option>
              <option value="Cocoa">Cocoa</option>
              <option value="Shot">Shot</option>
              <option value="Coffe / Tea">Coffe / Tea</option>
              <option value="Homemade Liqueur">Homemade Liqueur</option>
              <option value="Punch / Party Drink">Punch / Party Drink</option>
              <option value="Beer">Beer</option>
              <option value="Soft Drink / Soda">Soft Drink / Soda</option>
          </select>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- {% if cocktails|length == 0 %}
          <h3>Sorry, no users found</h3>
        {% else %} -->
        {% for cocktail in cocktails %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="contain" src="{{ cocktail.thumb }}" alt="">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <p class="text-center">{{ cocktail.name }}</p>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- {% endif %} -->
      </div>
    </div>
  </div>

</main>

  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>


{% endblock %}

