{% extends 'base.html' %}
{% block title %}Drink Details{% endblock %}

{% block content %}

<main>
  <div class="container">
		<h1>Search Cocktail by Name</h1>
    {% for cocktail in cocktails %}
		<div class="content">
			<div>
				<h2><b>{{ cocktail.name }}</b></h2>
				<img src="{{ cocktail.thumb }}" class="thumb-img">
				<p><em><b>{{ cocktail.instructions }}</b></em></p>
			</div>
			<div>
				<h4><b>Ingredients</b></h4>
				<ul>
					{% for ingredient in cocktail.ingredients %}
					<li><b>{{ ingredient }}</b></li>
					{% endfor %}
				</ul>
				<h4><b>Measurements</b></h4>
				<ul>
					{% for measurement in cocktail.measurements %}
					<li><b>{{ measurement }}</b></li>
					{% endfor %}
				</ul>
			</div>
		</div>
    {% endfor %}
	</div>
</main>



{% endblock %}