{% extends 'base.html' %}

{% block title %}Filter Alcohol{% endblock %}

{% block content %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search by Alcohol / Non Alcohol</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>

        <form class="d-flex" action="/filter_alcohol">
          <select class="form-select" aria-label="Default select example" name="filter_alcohol">
              <option selected>Select from category</option>
              <option value="Alcoholic">Alcoholic</option>
              <option value="Non Alcoholic">Non Alcoholic</option>
          </select>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- {% if cocktails|length == 0 %}
          <h3>Sorry, no users found</h3>
        {% else %} -->
        {% for cocktail in cocktails %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="contain" src="{{ cocktail.thumb }}" alt="">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <p class="text-center">{{ cocktail.name }}</p>
                <div class="btn-group">
                  <a href="/drink_details?drink_id={{cocktail.id}}">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- {% endif %} -->
      </div>
    </div>
  </div>

</main>
 

{% endblock %}