{% extends 'base.html' %}

{% block title %}Filter Alcohol{% endblock %}

{% block content %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search by Alcohol / Non Alcohol</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>

        <form class="d-flex" action="/filter_alcohol">
          <select class="form-select" aria-label="Default select example" name="filter_alcohol">
              <option selected>Select from category</option>
              <option value="Alcoholic">Alcoholic</option>
              <option value="Non Alcoholic">Non Alcoholic</option>
          </select>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </section>



</main>
 
{% endblock %}
