{% extends 'base.html' %}
{% block title %}Drinks Home{% endblock %}

{% block content %}

<main>


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search Cocktails</h1>
  
        <p class="lead text-muted">The current selection of drinks that you are viewing is within our most popular cocktails. <br>Enjoy it and drink responsibly</p>

      <form class="d-flex" action="/index">
        <input class="form-control me-2" type="text" name="name" placeholder="Search By Name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>
    </div>
  </section>


 


</main>






{% endblock %}