{% extends 'base.html' %}
{% block title %}Drinks{% endblock %}

{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Search Cocktails</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>

      <form class="d-flex" action="/index">
        <input class="form-control me-2" type="text" name="name" placeholder="Search By Name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>
    </div>
  </section>




  {% if cocktails|length == 0 %}
    <h3>Sorry, no cocktails found</h3>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-sm-9">
        <div class="row">

          {% for cocktail in cocktails %}

            <div class="col-lg-4 col-md-6 col-12">
              <div class="card user-card">
                <div class="card-inner">
                  <div class="image-wrapper">
                    <img src="{{ cocktail.thumb }}" alt="" class="card-hero">
                  </div>
                  <div class="card-contents">
                      <p>{{ cocktail.name }}</p>
                      <!-- <p>@{{ cocktail.instructions }}</p> -->
				  </div>
	            </div>
              </div>
            </div>

          {% endfor %}

        </div>
      </div>
    </div>
  {% endif %}

  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>


{% endblock %}