{% extends 'base.html' %}
{% block title %}Drinks Home{% endblock %}

{% block content %}

<main>


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Random Cocktails</h1>
  
        <p class="lead text-muted">The current selection of drinks that you are viewing is our random selection. <br>Enjoy it and drink responsibly</p>

      <form class="d-flex" action="/index">
        <input class="form-control me-2" type="text" name="random_cocktails" placeholder="Search By Name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>
    </div>
  </section>

    <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for cocktail in cocktails %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="contain" src="{{ cocktail.thumb }}" alt="">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <p class="text-center">{{ cocktail.name }}</p>
                <div class="btn-group">
                  <a href="/drink_details?drink_id={{cocktail.id}}">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
 


</main>
{% endblock %}
