<header >
  <div class = "collapse bg-dark" id = "navbarHeader" >
    <div class = "container" >
      <div class = "row" >
        <div class = "col-sm-8 col-md-7 py-4" >
          <h4 class = "text-white" > About < /h4 >
          <p class = "text-muted" > Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information. < /p >
        </div >
        <div class = "col-sm-4 offset-md-1 py-4" >
          < h4 class = "text-white" > Contact < /h4 >
          <ul class = "list-unstyled" >
          {% if not g.user % }
          <li > <a href = "/users/login" class = "text-white" > Login < /a > </li >
          <li > <a href = "/visitor/signup" class = "text-white" > Signup < /a > </li >
          {% else % }
          < li > <a href = "#" class = "text-white" > Follow on Twitter < /a > </li >
          <li > <a href = "/users/{{ g.user.id }}" >
          <img src = "{{ g.user.image_url }}" alt = "{{ g.user.username }}" >
          </a >
          </li >
          <li > <a href = "/messages/new" > New Message < /a > </li >
          <li > <a href = "/logout" > Log out < /a > </li >
          {% endif % }
          </ul >
        </div >
      </div >
    </div >
  </div >
  <div class = "navbar navbar-dark bg-dark shadow-sm" >
    <div class = "container" >
      <a href = "#" class = "navbar-brand d-flex align-items-center" >
        <svg xmlns = "http://www.w3.org/2000/svg" width = "20" height = "20" fill = "none" stroke = "currentColor" stroke-linecap = "round" stroke-linejoin = "round" stroke-width = "2" aria-hidden = "true" class = "me-2" viewBox = "0 0 24 24" > <path d = "M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/> < circle cx = "12" cy = "13" r = "4"/> < /svg >
        <strong > Album < /strong >
      </a >
      <button class = "navbar-toggler" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navbarHeader" aria-controls = "navbarHeader" aria-expanded = "false" aria-label = "Toggle navigation" >
        <span class = "navbar-toggler-icon" > </span >
      </button >
    </div >
  </div >
</header >

<main >

  <section class = "py-5 text-center container" >
    <div style = "background-image: url('https://images.unsplash.com/photo-1621873495884-845a939892d1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzN8fGJhcnRlbmRlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80');" >

    <div class = "row py-lg-5" >
      <div class = "col-lg-6 col-md-8 mx-auto" >
        <h1 class = "fw-light" > Album example < /h1 >
        <p class = "lead text-muted" > Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely. < /p >
        <p >
          <a href = "#" class = "btn btn-primary my-2" > Main call to action < /a >
          <a href = "#" class = "btn btn-secondary my-2" > Secondary action < /a >
        </p >
      </div >
    </div >
  </section >

  <div class = "album py-5 bg-light" >
    <div class = "container" >

      <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
        <div class = "col" >
          <div class = "card shadow-sm" >
					  <img src = "{{ data.thumb }}" class = "thumb-img" >
            <div class="card-body">
              <p class="card-text text-center">{{ data.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
  {% block content %}
  {% endblock %}

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>






    <!-- <div class="container">
      <h1>Random Cocktail</h1>

			<div class="content">
				<div>
					<h2><b>{{ data.name }}</b></h2>
					<img src="{{ data.thumb }}" class="thumb-img">
					<p><em><b>{{ data.instructions }}</b></em></p>
				</div>

				<div>
					<h4><b>Ingredients</b></h4>
					<ul>
						{% for ingredient in data.ingredients %}
						<li><b>{{ ingredient }}</b></li>
						{% endfor %}
					</ul>
					<h4><b>Measurements</b></h4>
					<ul>
						{% for measurement in data.measurements %}
						<li><b>{{ measurement }}</b></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div> -->



  ----------------------------------------------------------------------->


	<!-- <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <ul class="list-unstyled">
           {% if not g.user %}
           <li><a href="/login" class="text-white">Login</a></li>
           <li><a href="signup" class="text-white">Signup</a></li>
           {% else %}
          <li><a href="/favorites" class="text-white">My Favorites</a></li>
          <li><a href="/logout" class="text-white">Logout</a></li>
           {% endif %}

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <i class="fas fa-cocktail"></i>
      <strong>Drinks</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

</header> -->

------------------------------------------------------------------->
<!-- This file is for the index.html -->

{% extends 'base.html' %}
{% block title %}Drinks{% endblock %}

{% block content %}



        <div class="container">
			<h1>Search Cocktail by First Letter</h1>

			<div class="content">
				<div>
					<h2><b>{{ cocktail.name }}</b></h2>
					<p><b>Category : {{ cocktail.category }}</b></p>
					<img src="{{ cocktail.thumb }}" class="thumb-img">
					<p><em><b>{{ cocktail.instructions }}</b></em></p>
				</div>
				<div>
					<h4><b>Ingredients</b></h4>
					<ul>
						{% for ingredient in cocktail.ingredients %}
						<li><b>{{ ingredient }}</b></li>
						{% endfor %}
					</ul>
					<h4><b>Measurements</b></h4>
					<ul>
						{% for measurement in cocktail.measurements %}
						<li><b>{{ measurement }}</b></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>


{% endblock %}



<!-- -------------------------------------------------------------- -->

<!-- <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark py-2">
  <div class="container-fluid mx-4">
    <a href="/" class="navbar-brand d-flex align-items-center">
      <i class="fas fa-cocktail"></i>
      <strong>Drinks</strong>
    </a>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Category</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Ordinary Drink</a>
            <a class="dropdown-item" href="#">Cocktail</a>
            <a class="dropdown-item" href="#">Milk / Float / Shake</a>
            <a class="dropdown-item" href="#">Other / Unknow</a>
            <a class="dropdown-item" href="#">Cocoa</a>
            <a class="dropdown-item" href="#">Shot</a>
            <a class="dropdown-item" href="#">Coffe / Tea</a>
            <a class="dropdown-item" href="#">Homemade Liqueur</a>
            <a class="dropdown-item" href="#">Punch / Party Drink</a>
            <a class="dropdown-item" href="#">Beer</a>
            <a class="dropdown-item" href="#">Soft Drink / Soda</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Alcohol/Non Alcohol</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Alcoholic</a>
            <a class="dropdown-item" href="#">Non Alcoholic</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ingredients</a>
        </li>

      </ul>

      <form class="d-flex">
           {% if not g.user %}
           <li><a href="/login" class="text-white">Login</a></li>
           <li><a href="signup" class="text-white">Signup</a></li>
           {% else %}
          
          <li><a href="/favorites" class="text-white"><i class="fas fa-user-alt fa-lg"></i></a></li>
          <li><a href="/logout" class="text-white">Logout</a></li>
           {% endif %}
      </form>
    </div>
  </div>
</nav> -->