<header >
  <div class = "collapse bg-dark" id = "navbarHeader" >
    <div class = "container" >
      <div class = "row" >
        <div class = "col-sm-8 col-md-7 py-4" >
          <h4 class = "text-white" > About < /h4 >
          <p class = "text-muted" > Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information. < /p >
        </div >
        <div class = "col-sm-4 offset-md-1 py-4" >
          < h4 class = "text-white" > Contact < /h4 >
          <ul class = "list-unstyled" >
          {% if not g.user % }
          <li > <a href = "/users/login" class = "text-white" > Login < /a > </li >
          <li > <a href = "/visitor/signup" class = "text-white" > Signup < /a > </li >
          {% else % }
          < li > <a href = "#" class = "text-white" > Follow on Twitter < /a > </li >
          <li > <a href = "/users/{{ g.user.id }}" >
          <img src = "{{ g.user.image_url }}" alt = "{{ g.user.username }}" >
          </a >
          </li >
          <li > <a href = "/messages/new" > New Message < /a > </li >
          <li > <a href = "/logout" > Log out < /a > </li >
          {% endif % }
          </ul >
        </div >
      </div >
    </div >
  </div >
  <div class = "navbar navbar-dark bg-dark shadow-sm" >
    <div class = "container" >
      <a href = "#" class = "navbar-brand d-flex align-items-center" >
        <svg xmlns = "http://www.w3.org/2000/svg" width = "20" height = "20" fill = "none" stroke = "currentColor" stroke-linecap = "round" stroke-linejoin = "round" stroke-width = "2" aria-hidden = "true" class = "me-2" viewBox = "0 0 24 24" > <path d = "M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/> < circle cx = "12" cy = "13" r = "4"/> < /svg >
        <strong > Album < /strong >
      </a >
      <button class = "navbar-toggler" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navbarHeader" aria-controls = "navbarHeader" aria-expanded = "false" aria-label = "Toggle navigation" >
        <span class = "navbar-toggler-icon" > </span >
      </button >
    </div >
  </div >
</header >

<main >

  <section class = "py-5 text-center container" >
    <div style = "background-image: url('https://images.unsplash.com/photo-1621873495884-845a939892d1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzN8fGJhcnRlbmRlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80');" >

    <div class = "row py-lg-5" >
      <div class = "col-lg-6 col-md-8 mx-auto" >
        <h1 class = "fw-light" > Album example < /h1 >
        <p class = "lead text-muted" > Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely. < /p >
        <p >
          <a href = "#" class = "btn btn-primary my-2" > Main call to action < /a >
          <a href = "#" class = "btn btn-secondary my-2" > Secondary action < /a >
        </p >
      </div >
    </div >
  </section >

  <div class = "album py-5 bg-light" >
    <div class = "container" >

      <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
        <div class = "col" >
          <div class = "card shadow-sm" >
					  <img src = "{{ data.thumb }}" class = "thumb-img" >
            <div class="card-body">
              <p class="card-text text-center">{{ data.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
  {% block content %}
  {% endblock %}

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>









------------------------------------------------------------------->



{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome back</h1>
      </div>
    </div>
  </section>


  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg">Log in</button>
      </form>
    </div>
  </div>

{% endblock %}


<!-- ------------------------------------------------ -->

	<!-- <div class="container">
		<h1>Search Cocktail by Name</h1>

		<div class="content">
			<div>
				<h2><b>{{ cocktail.name }}</b></h2>
				<p><b>Category : {{ cocktail.category }}</b></p>
				<img src="{{ cocktail.thumb }}" class="thumb-img">
				<p><em><b>{{ cocktail.instructions }}</b></em></p>
			</div>
			<div>
				<h4><b>Ingredients</b></h4>
				<ul>
					{% for ingredient in cocktail.ingredients %}
					<li><b>{{ ingredient }}</b></li>
					{% endfor %}
				</ul>
				<h4><b>Measurements</b></h4>
				<ul>
					{% for measurement in cocktail.measurements %}
					<li><b>{{ measurement }}</b></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div> -->


<!-- ------------------------------------------------ -->




  <div class="container">
    <div class="row justify-content">
      <div class="col-md-auto">
      <ul>
      {% for measurement in cocktail.measurements %}
      <ul>{{ measurement }} - </ul>
      {% endfor %}
      </ul>
      </div>
      <div class="col-md-auto">
      <ul>
      {% for ingredient in cocktail.ingredients %}
      <ul>{{ ingredient }}</ul>
      {% endfor %}
      </ul>
      </div>
    </div>
  </div>

<!-- ------------------------------------------------ -->

<!-- This code is for putting ingredients and measurement side by side-->


  <!-- <ul>
  {% for i,m in zip(cocktail.ingredients, cocktail.measurements) %}
  <ul>{{ i }} - <b>{{ m }}</b></ul>
  {% endfor %}
  </ul> -->

<!-- ------------------------------------------------ -->



    {% if cocktails|length == 0 %}
    <h3>Sorry, no cocktails found</h3>
  {% else %}
  {% for cocktail in cocktails %}
    <div class="row justify-content-center">
      <div class="col-sm-9">
        <div class="row">
        <div class="card user-card">
          <div class="card-inner">
            <img class="contain" src="{{ cocktail.thumb }}" alt="">
            <div class="card-contents"><p>{{ cocktail.name }}</p></div>
            <p> {{ cocktail.instructions }}</p>
            <div class="container">
            <div class="row justify-content">
              <div class="col-md-auto">
              <ul>
                {% for ingredient in cocktail.ingredients %}
                <ul>{{ ingredient }}</ul>
                {% endfor %}
              </ul>
              </div>
              <div class="col-md-auto">
              <ul>
                {% for measurement in cocktail.measurements %}
                <ul>{{ measurement }}</ul>
                {% endfor %}
              </ul>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   {% endfor %}
  {% endif %}